## This process extracts the information about all IT stock markets from Yahoo Finance daily and then save them properly in a DB.

#### Global variables and imports

In [1]:
from bs4 import BeautifulSoup
from datetime import date, timedelta
from pandas_datareader import data as pdr
from random import randint
from time import sleep
import fix_yahoo_finance as yf
import json
import os
import requests
import time

API = 'kJevF5jApShu9cF22u_C'
PATH_PROJECT = os.getcwd()

#### 1. Extraction of all Technology stocks.

In [2]:
def technology_stocks():
    index = 1
    stocks = []
    headers = {
        'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36'
    }
    while (True):
        try:
            base_url = 'https://www.marketwatch.com/tools/industry/stocklist.asp?bcind_ind=9000&bcind_index=' + str(index) +'&bcind_period=3mo&bcind_compidx='
            sleep(randint(0, 20))
            r = requests.get(base_url, headers = headers)
            if r.status_code == 200:
                src = BeautifulSoup(r.text, 'lxml')
                tables = src.find_all('table')
                target_table = None
                for table in tables:
                    if 'Symbol' in str(table):
                        target_table = table
                symbols = target_table.find_all('a', {'class': 'lk01'})
                if len(symbols) == 0:
                    break
                clean_symbols = []
                for symbol in symbols:
                    clean_symbols.append(symbol.text)
                stocks.extend(clean_symbols)
                index += 50
            else:
                break
        except Exception as ex:
            break
    return stocks

#### 2. Using Yahoo Finance to obtain the daily data of each stock.

In [3]:
def daily_report(stocks, date):
    yf.pdr_override()
    data = pdr.get_data_yahoo(
        tickers = stocks,
        start = date,
        end = time.strftime("%Y-%m-%d"),
        as_panel = False,
        group_by = 'ticker',
        progress = False
    )
    return data

In [4]:
stocks = technology_stocks()
yesterday = (date.today() - timedelta(1)).strftime("%Y-%m-%d")
daily_data = daily_report(stocks, yesterday)
daily_data.to_csv()
filename = PATH_PROJECT + '/' + yesterday + '.csv'
daily_data.to_csv(filename, index = False, mode = "a", header = (not os.path.exists(filename)), encoding = "latin-1", sep = ";")

In [6]:
daily_data

            VNET                                             TWOU             \
            Open  High   Low Close Adj Close    Volume       Open       High
Date
2018-07-17   NaN   NaN   NaN   NaN       NaN       NaN        NaN        NaN
2018-07-25   NaN   NaN   NaN   NaN       NaN       NaN        NaN        NaN
2018-08-02   NaN   NaN   NaN   NaN       NaN       NaN        NaN        NaN
2018-08-03   NaN   NaN   NaN   NaN       NaN       NaN        NaN        NaN
2018-08-06   NaN   NaN   NaN   NaN       NaN       NaN        NaN        NaN
2018-08-07   NaN   NaN   NaN   NaN       NaN       NaN        NaN        NaN
2018-08-08   NaN   NaN   NaN   NaN       NaN       NaN        NaN        NaN
2018-08-09  8.70  9.24  8.62  8.90      8.90  315500.0  72.839996  74.059998
2018-08-10  8.82  8.89  8.74  8.82      8.82  131268.0  71.779999  72.749001

                                     ...      MMTIF                   \
                  Low      Close     ...        Low  Close Adj Close
Date                                 ...
2018-07-17        NaN        NaN     ...        NaN    NaN       NaN
2018-07-25        NaN        NaN     ...        NaN    NaN       NaN
2018-08-02        NaN        NaN     ...        NaN    NaN       NaN
2018-08-03        NaN        NaN     ...        NaN    NaN       NaN
2018-08-06        NaN        NaN     ...        NaN    NaN       NaN
2018-08-07        NaN        NaN     ...        NaN    NaN       NaN
2018-08-08        NaN        NaN     ...        NaN    NaN       NaN
2018-08-09  71.800003  72.110001     ...      0.060  0.070     0.070
2018-08-10  71.650002  72.180000     ...      0.068  0.068     0.068

                             MU                                          \
              Volume       Open       High    Low      Close  Adj Close
Date
2018-07-17       NaN        NaN        NaN    NaN        NaN        NaN
2018-07-25       NaN        NaN        NaN    NaN        NaN        NaN
2018-08-02       NaN        NaN        NaN    NaN        NaN        NaN
2018-08-03       NaN        NaN        NaN    NaN        NaN        NaN
2018-08-06       NaN        NaN        NaN    NaN        NaN        NaN
2018-08-07       NaN        NaN        NaN    NaN        NaN        NaN
2018-08-08       NaN        NaN        NaN    NaN        NaN        NaN
2018-08-09  419500.0  52.650002  52.849998  51.93  52.259998  52.259998
2018-08-10  862120.0  51.250000  51.950001  51.02  51.369999  51.369999


                Volume
Date
2018-07-17         NaN
2018-07-25         NaN
2018-08-02         NaN
2018-08-03         NaN
2018-08-06         NaN
2018-08-07         NaN
2018-08-08         NaN
2018-08-09  34459100.0
2018-08-10  29964777.0

[9 rows x 1728 columns]

In [7]:
time.strftime("%Y-%m-%d")

'2018-08-11'

In [17]:
def dai(stocks):
    yf.pdr_override()
    data = pdr.get_data_yahoo(
        tickers = stocks,
        start = '2018-07-21',
        end = '2018-07-22',
        as_panel = False,
        group_by = 'ticker',
        progress = False
    )
    return data

testing_stocks = ['VNET', 'TWOU']
start = '2018-07-23'
end = '2018-07-24'
deita = dai(testing_stocks)
print(deita)

             VNET                                              TWOU        \
             Open   High    Low  Close Adj Close  Volume       Open  High
Date
2018-07-20  11.08  11.54  11.08  11.12     11.12  459900  89.440002  90.0


              Low      Close  Adj Close  Volume
Date
2018-07-20  85.25  86.589996  86.589996  849100